<!-- views/pages/configuration.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>


<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>


<body class="container", onload= >
    
    <header>
        <% include ../partials/header %>
    </header>

    <form action="configuration" method="get">
        <select id="dynamicSensorList" =></select>
    </form>

	You have <div id="numberOfSensor"></div> subscribed sensor in your network
	
	<br><br>

    You have <div id="numberOfRegisteredSensor"></div> total sensor in your network
    
    <br><br>
	<p hidden id="latestUpdateTimeUnix"></p>

    <br>
	ChipID numbers of all  :
	<p id="allChipIDNumbers"></p>

    <form id=addClient action="configuration" method="post">
        Write the chip number to add a new client <input type="text" name="number"/>
        <input type="text" name="description"/> 
        <input type="submit" value='Add a New Client to The Server' />
    </form>

    <div id="mainTable"></div>
    
    <form id=deleteClient action="configuration" method="post">
       <input id='deleteChipID' type="text" name="numberForDelete" value='' />
       <input type="submit" value='Delete The Client' />
    </form>

    <form id=unsubscribeClient action="configuration" method="post">
       <input id='unsubscribeChipID' type="text" name="numberForUnsubscribe" value='' />
       <input type="submit" value='Unsubscribe The Client' />
    </form>

<script>

    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };
    
    var general = {
        previousTable : [],
        latestTable : [],
        elem : [],
        deneme : 0,
        elemUnSubscribe : [],
        sikForUnsubcribe : 0,
        sayacForTable : 0,
        sayacForStatus : 0
    }

    var bodyDatas = {
        body : [],
        tbl : [],
        divTable : [],
        tblBody : [],
        row : [],
        checked : []
    }

    var tagDatas = {
        chipIDname : [],
	    chipIDnumber : [],
        chipIDqueue : [],
        chipIDunixTime : [],
        chipIDid : [],
        sensorLength : 0,
        sensorList : [],
        chipIDdescription : [],
        registered : [],
        registeredStatus : []
    };
 
    <%for(var i=0;i < tagId.length; i++){ %>
        tagDatas.chipIDname.push('<%= tagName[i] %>');
        tagDatas.chipIDqueue.push('<%= tagQueue[i] %>');
        tagDatas.chipIDid.push(<%= tagId[i] %>);
        tagDatas.chipIDunixTime.push(<%= tagUnixTime[i] %>);
        tagDatas.chipIDnumber.push(<%= tagNumber[i] %>);
        tagDatas.chipIDdescription.push('<%= tagDescription[i] %>');
	<% } %>

    <%for(var i=0;i < tagRegistered.length; i++){ %>
        tagDatas.registered.push('<%= tagRegistered[i] %>');
	<% } %>

    //console.log(tagDatas.registered);

    document.getElementById("numberOfSensor").innerHTML = tagDatas.chipIDid.length;
    document.getElementById("numberOfRegisteredSensor").innerHTML = tagDatas.registered.length;
    document.getElementById("latestUpdateTimeUnix").innerHTML = tagDatas.chipIDunixTime.slice(-1);
    
                
    for ( var i=0; i< tagDatas.chipIDnumber.length;i++){            
        document.getElementById("allChipIDNumbers").innerHTML += (i+1) + '- ' + tagDatas.chipIDnumber[i] + '  related subscription adress :  /data/'  + tagDatas.chipIDname[i] + ' <br />';
    }

    var select = document.getElementById("dynamicSensorList");
    select.options[0] = new Option('Select a Sensor', 'sensor0');

    for(index in tagDatas.chipIDnumber) {
        select.options[select.options.length] = new Option(tagDatas.chipIDnumber[index], 'sensor'+ (parseInt(index)+1) );
    }
    tagDatas.sensorLength = select.options.length;

    tagDatas.sensorLength--;

    //console.log(tagDatas.registeredStatus);

    // creating all cells
  		
    if( tagDatas.registered.length == tagDatas.chipIDid.length ){
        tagDatas.registeredStatus.push('registered & subscribed');
    }
    else {
        /*
        console.log(tagDatas.registered);
        console.log(tagDatas.chipIDname);
        for(var i=0;i < tagDatas.registered.length ; i++){
            for (var j=0;j < tagDatas.registered.length ; j++){
                if(tagDatas.chipIDname[j] == tagDatas.registered[i] ){
                    general.sayacForStatus++;
                    console.log('FUCK');    
                }
                console.log('sikko'); 
            }

            if (general.sayacForStatus == 0){
                tagDatas.registeredStatus.push('1');
            }
            else{
                tagDatas.registeredStatus.push('2');
                general.sayacForStatus == 0;
            }

        }
        */
        
         var aa = tagDatas.registered.diff(tagDatas.chipIDname); 
         console.log(aa);


    }

  		

console.log(tagDatas.registeredStatus);     

    generate_table();






//console.log('Nerde lan bu' + tagDatas.chipIDnumber)


    // GENERATE TABLE FUNCTION
    function generate_table() {

        // get the reference for the body
  		bodyDatas.body = document.getElementsByTagName("body")[0];
  		
 		// creates a <table> element and a <tbody> element
  		bodyDatas.tbl     = document.createElement("table");
		bodyDatas.divTable = document.createElement("div");
        
  		bodyDatas.tblBody = document.createElement("tbody");
 		bodyDatas.row = document.createElement("tr");
		
		// create the columns
        function createColumn (name){
            var TH = document.createElement("th");
            var th = document.createTextNode(name);
            TH.appendChild(th);
		    bodyDatas.row.appendChild(TH)
        }

        createColumn('chipID');
        createColumn('Type');
        createColumn('Description');
        createColumn('Temperature');
        createColumn('Humidity');
        createColumn('Select');
        createColumn('Status');
	
		bodyDatas.tblBody.appendChild(bodyDatas.row)

        // creating all cells
  		for(var i=0;i < tagDatas.chipIDid.length ; i++){
    		// creates a table row
    		bodyDatas.row = document.createElement("tr");
   			
			createElement(tagDatas.chipIDnumber[i]);
			createElement(1);
            createElement(tagDatas.chipIDdescription[i]);
            createElement('?');
            createElement('?');
            checkBoxForDelete(i+1);
            checkBoxForUnsubscribe(i+1);
            createElement(tagDatas.registeredStatus[i]);
			
    		// add the row to the end of the table body
    		bodyDatas.tblBody.appendChild(bodyDatas.row);
  		}

        // function for creating Elements
  		function createElement(xData){
 			var cell = document.createElement("td");
      		var cellText = document.createTextNode(xData);
      		cell.appendChild(cellText);
      		bodyDatas.row.appendChild(cell);
		}


       




        function checkBoxForDelete(n){
            var checkbox = document.createElement('input');
      		
            checkbox.type = "checkbox";
            checkbox.name = "Keslan"+ n;
            checkbox.value = "Select"+n;
            checkbox.id = "checkedDeneme"+n;
            checkbox.form = "deleteClient";

            bodyDatas.checked.push(checkbox);
      		bodyDatas.row.appendChild(checkbox);
            //console.log(checkbox.form);
		}

        function checkBoxForUnsubscribe(n){
            var checkbox = document.createElement('input');
      		
            checkbox.type = "checkbox";
            checkbox.name = "Suslan"+ n;
            checkbox.value = "Select"+n;
            checkbox.id = "checkedUnsubcribe"+n;
            checkbox.form = "unsubscribeClient";

            bodyDatas.checked.push(checkbox);
      		bodyDatas.row.appendChild(checkbox);
            //console.log(checkbox.form);
		}
        
        //console.log(document.getElementById("addClient"));
        //document.getElementById("checkedDeneme1").checked = true;
  		bodyDatas.tbl.appendChild(bodyDatas.tblBody);	
		bodyDatas.divTable.appendChild(bodyDatas.tbl);
        document.getElementById("mainTable").appendChild(bodyDatas.divTable);
  		bodyDatas.body.appendChild(document.getElementById("mainTable"));

  		bodyDatas.tbl.setAttribute("border", "2");

    }

    general.previousTable = tagDatas.chipIDnumber.length;
    //console.log('at first ' + general.previousTable );

    function update_table(){
        if ( general.previousTable != general.latestTable ){
                //$("#mainTable").load('configuration'+" #mainTable>*","");
                //document.getElementById("mainTable").innerHTML.reload;
                location.reload();
        }
        
        //console.log('at second ' + general.latestTable);
        general.previousTable = general.latestTable;
        //console.log('at third ' + general.previousTable);
        general.latestTable = tagDatas.chipIDnumber.length;
        //console.log('at last ' + tagDatas.chipIDnumber.length);

    }

    var interval2 = null;
    interval2 = setInterval(ajaxCall,1000);

    function ajaxCall() {
	
	    $.ajax({
        	url: "/getBuff",
        	type: "POST",
        	dataType: "json",
        	data: {},
        	contentType: "application/json",
        	cache: false,
        	timeout: 3000,
        	complete: function() {
           		//called when complete
            	console.log('process complete');
        	},
        	success: function(data) {
                tagDatas.chipIDid = data.tagId.length;
                document.getElementById("numberOfSensor").innerHTML = tagDatas.chipIDid;

                tagDatas.registered = data.tagRegistered;
                document.getElementById("numberOfRegisteredSensor").innerHTML = tagDatas.registered.length;


                tagDatas.chipIDunixTime = data.tagUnixTime.slice(-1);
                document.getElementById("latestUpdateTimeUnix").innerHTML = tagDatas.chipIDunixTime;

                tagDatas.chipIDnumber = data.tagNumber;

                tagDatas.chipIDname = data.tagName;


                document.getElementById("allChipIDNumbers").innerHTML = '';
                for ( var i=0; i< tagDatas.chipIDnumber.length;i++){            
                    document.getElementById("allChipIDNumbers").innerHTML += (i+1) + '- ' + tagDatas.chipIDnumber[i] + '  related subscription adress :  /data/'  + tagDatas.chipIDname[i] + ' <br />';
                }
                
                if ( tagDatas.chipIDnumber.length != tagDatas.sensorLength)
                {
                    select.options.length = 0;
                    console.log('esit degil');
                    select.options[0] = new Option('Select a Sensor', 'sensor0');
                    
                    for(index in tagDatas.chipIDnumber) {
                        select.options[select.options.length] = new Option(tagDatas.chipIDnumber[index], 'sensor'+ (parseInt(index)+1) );
                    }
                    tagDatas.sensorLength = tagDatas.chipIDnumber.length;
                }

                tagDatas.sensorList = select.options[select.selectedIndex].value;

                general.latestTable = tagDatas.chipIDnumber.length;

                update_table();

                for ( i=0;i<tagDatas.chipIDnumber.length;i++ ){
                    if(select.options[select.selectedIndex].value == 'sensor' + (i+1) )
                    {
                        console.log( 'page' + (i+1) );
                        window.location.href = '/pageofSensor' + (i+1)
                    }

                    
                    var a = i+1;
                    
                    /// FOR DELETE THE CLIENT
                    general.elem.push( document.getElementById('checkedDeneme'+a) );

                    general.elem[i].checked == false;

                   //console.log(general.elem[i].onchange);
                   if ( general.elem && general.elem[i].checked == true ){
                        document.getElementById("deleteChipID").value = '';
                        document.getElementById("deleteChipID").value = tagDatas.chipIDnumber[i]; // Get text field
                        general.deneme = i;
                   }
                   else if ( general.elem && general.elem[general.deneme].checked == false ){
                            document.getElementById("deleteChipID").value = '';
                            console.log('UNSELECT');
                    }

                       
                    //FOR UNSUBSCRIBE THE CLIENT
                    general.elemUnSubscribe.push( document.getElementById('checkedUnsubcribe'+a) );

                    general.elemUnSubscribe[i].checked == false;

                    //console.log(general.elemUnSubscribe[i].onchange);
                    if ( general.elemUnSubscribe && general.elemUnSubscribe[i].checked == true ){
                        document.getElementById("unsubscribeChipID").value = '';
                        document.getElementById("unsubscribeChipID").value = tagDatas.chipIDnumber[i]; // Get text field
                        general.sikForUnsubcribe = i;
                    }
                    else if ( general.elemUnSubscribe && general.elemUnSubscribe[general.sikForUnsubcribe].checked == false ){
                            document.getElementById("unsubscribeChipID").value = '';
                            console.log('UNSELECT2');
                    }
                     


                }
                             
  	    	},
        	error: function() {
               		console.log('process error');
        	},
	    });
    }

</script>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
