<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="https://github.com/epochjs/epoch/blob/master/tests/render/css/tests.css">
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/epoch/0.8.4/epoch.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/epoch/0.8.4/epoch.min.css">
        <style>
        .test .epoch {
            width: 350px;
            height: 350px;
        }
        </style>
    </head>

<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>


<body>
<button onclick="graphMux()">Show The Graph of Mux </button>
<button onclick="graphTemp()">Show The Graph of Temp </button>
<button onclick="graphAdc()">Show The Graph of ADC </button>
<button onclick="graphRes()">Show The Graph of Res </button>
<div id="area" class="test">
            <div class="epoch"></div>
</div>


<script>
		
	var idData = [];
        	<%for(var i=0;i < tagId1.length; i++){ %>
     			idData.push(<%=tagId1[i]%>);
        	<% } %>

	var tempMux = [];
        	<%for(var i=0;i < tagId1.length; i++){ %>
     			tempMux.push(<%=tagMux1[i]%>);
        	<% } %>

	var tempData = [];
        	<%for(var i=0;i < tagId1.length; i++){ %>
     			tempData.push(<%=tagTemp1[i]%>);
        	<% } %>
	
	var tempAdc = [];
        	<%for(var i=0;i < tagId1.length; i++){ %>
     			tempAdc.push(<%=tagAdc1[i]%>);
        	<% } %>

	var tempRes = [];
        	<%for(var i=0;i < tagId1.length; i++){ %>
     			tempRes.push(<%=tagRes1[i]%>);
        	<% } %>

	var lineChartData =  [
  		// The first layer
  		{
    			label: "Layer 1",
    			values: [ 
				]			
  		}
	];

	


	function graphMux() {
		var pluginArrayArg = new Array();
	
		for(var i=0;i < <%=tagId1.length%>; i++){ 
			var data = new Object();
    			data.x= idData[i];
    			data.y= tempMux[i];
    			pluginArrayArg.push(data);
			lineChartData[0].values.push(pluginArrayArg[i]);
        	 } 
		
		$(function() {
            		$('#area .epoch').epoch({
                 		type: 'line',
      	         		data: lineChartData,
		 		axes: ['left', 'bottom'],
		 		ticks: { bottom: 10, left: 10 },
		 		domain: [0, <%=tagId1.length%>],
		 		margins: { top: 100, right: 30, bottom: 100, left: 40 },
		 		width: 600,
		 		height: 370
           	 	});
        	});
		
	}

	function graphTemp() {
		var pluginArrayArg = new Array();
	
		for(var i=0;i < <%=tagId1.length%>; i++){ 
			var data = new Object();
    			data.x= idData[i];
    			data.y= tempData[i];
    			pluginArrayArg.push(data);
			lineChartData[0].values.push(pluginArrayArg[i]);
        	 } 
		
		$(function() {
            		$('#area .epoch').epoch({
                 		type: 'line',
      	         		data: lineChartData,
		 		axes: ['left', 'bottom'],
		 		ticks: { bottom: 10, left: 10 },
		 		domain: [0, <%=tagId1.length%>],
		 		margins: { top: 100, right: 30, bottom: 100, left: 40 },
		 		width: 600,
		 		height: 370
           	 	});
        	});
	}

	function graphAdc() {
		var pluginArrayArg = new Array();
	
		for(var i=0;i < <%=tagId1.length%>; i++){ 
			var data = new Object();
    			data.x= idData[i];
    			data.y= tempAdc[i];
    			pluginArrayArg.push(data);
			lineChartData[0].values.push(pluginArrayArg[i]);
        	 } 
		
		$(function() {
            		$('#area .epoch').epoch({
                 		type: 'line',
      	         		data: lineChartData,
		 		axes: ['left', 'bottom'],
		 		ticks: { bottom: 10, left: 10 },
		 		domain: [0, <%=tagId1.length%>],
		 		margins: { top: 100, right: 30, bottom: 100, left: 40 },
		 		width: 600,
		 		height: 370
           	 	});
        	});
	}

	function graphRes() {
		var pluginArrayArg = new Array();
	
		for(var i=0;i < <%=tagId1.length%>; i++){ 
			var data = new Object();
    			data.x= idData[i];
    			data.y= tempRes[i];
    			pluginArrayArg.push(data);
			lineChartData[0].values.push(pluginArrayArg[i]);
        	 } 
		
		$(function() {
            		$('#area .epoch').epoch({
                 		type: 'line',
      	         		data: lineChartData,
		 		axes: ['left', 'bottom'],
		 		ticks: { bottom: 10, left: 10 },
		 		domain: [0, <%=tagId1.length%>],
		 		margins: { top: 100, right: 30, bottom: 100, left: 40 },
		 		width: 600,
		 		height: 370
           	 	});
        	});
	}



</script>


</body>
</html>
