<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<style>
table{
    border: 2px solid black;
    border-collapse: collapse;
    width:80%;}
th {
    background-color: black; 
    color: white; 
    border: 2px solid black; 
    padding: 10px;
}
td { 
    border: 2px solid black; 
    padding: 15px; 
    text-align: center;
} 
    tr:nth-child(even) { 
    background-color: #eee;
}
.wrapper {
    text-align: center;
}
.button {
    position: auto;
    top: 80%;
}
</style>

<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>


<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <form id="materialform">
<table align='center'>
<tr>
    <th>Data Type</th>
    <th>Value</th></tr>
<tr>
    <td>Temperature </td>
    <td><p id="tempArea"><%= tagTemp %> </p></tr>
<tr>
    <td>ADC </td>
    <td><p id="adcArea"> <%= tagAdc %>  </p></td>
</tr>
<tr>
    <td>Resistor </td>
    <td><p id="resArea"><%= tagRes %> </p></td>
</tr>
<tr>
    <td>Mux </td>
    <td><p id="muxArea"> <%= tagMux %> </p> </td>
</tr>
<tr>
    <td> Id </td> 
    <td><p id="idArea"> <%= tagId %> </p></td>
    </td>
</tr>
</table>
</form><br/>
<div class="wrapper">
    <button class="button" onclick="myFunction()">Reload Page</button>
</div>  

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
