<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    
    <% include ../partials/head %>

    <script>

	function generate_table() {
                //<% var testcars = ['Fiat', 'RENO', 'MErcedes']; %>
  		// get the reference for the body
  		var body = document.getElementsByTagName("body")[0];
                 
                //var getTest = <%= testcars %>;  
                 
  		// creates a <table> element and a <tbody> element
    	        var tbl     = document.createElement("table");
  	 	var tblBody = document.createElement("tbody");

		var cars = ["Saab", "Volvo", "BMW"];
		
		// creating all cells
		for (var i = 0; i < 5; i++) {

			var row1 = document.createElement("tr");
	
			for (var j = 0; j < 1; j++) {

      				var cell1 = document.createElement("td");
      				var cellText1 = document.createTextNode(cars[i]);	

      				cell1.appendChild(cellText1);
      				row1.appendChild(cell1);
	  
    			 }
 
    		  tblBody.appendChild(row1);
  		  }
 

  	   tbl.appendChild(tblBody);
  	   body.appendChild(tbl);
  	   // sets the border attribute of tbl to 2;
  	   tbl.setAttribute("border", "3");
	  }

	</script>
</head>

<style>
table{
    border: 2px solid black;
    border-collapse: collapse;
    width:100%;
    heigth:100%;
    }
th {
    background-color: black; 
    color: white; 
    border: 2px solid black; 
    padding: 10px;

}
td { 
    border: 2px solid black; 
    padding: 15px; 
    text-align: center;
} 
    tr:nth-child(even) { 
    background-color: #eee;
}
.wrapper {
    text-align: center;
}
.button {
    position: auto;
    top: 80%;
}
</style>

<meta charset='UTF-8'> 
<meta name='viewport' content='width=device-width', initial-scale=1.0></head>


<body class="container", onload="generate_table()" >

    <header>
        <% include ../partials/header %>
    </header>
    <form id="materialform">
<table align='center', text-align:'center';>
<tr>
    <th>ID</th>
    <th>Temp</th>
    <th>ADC </th>
    <th>Resistor </th>
    <th>Mux </th>
    <th>DENEME </th>
</tr>
<tr>
    <td><p id="idArea"> <%= tagId %> </p></td>
    <td><p id="tempArea"><%= tagTemp %> </p></td>
    <td><p id="adcArea"> <%= tagAdc %>  </p>
    <td><p id="resArea"><%= tagRes %> </p></td>
    <td><p id="muxArea"> <%= tagMux %> </p> </td>
    <td><p id="deneme">  </p> </td>
</tr>
</table>
</form><br/>
<div class="wrapper">
    <button class="button" onclick="myFunction()">Reload Page</button>
</div>  

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
